@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

@import "tailwindcss";
@plugin "daisyui";

body {
  background-color: #f3f3f3;
  min-height: 100vh;
}
button {
  outline: none;
}
h1 {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
}
