@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap");

@import "tailwindcss";
@plugin "daisyui";

body {
  background-color: #f2f3f4;
  color: #000000;
  min-height: 100vh;
}

button {
  outline: none;
  border:none;
}
a {
  text-decoration: none;
}
h1 {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
}
.error {
  font-family: "Edu NSW ACT Cursive", cursive;
}
